/* Bordered form */
form {
    border: 3px solid none;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color:#2181c6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
 }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  body {
    color: antiquewhite;
    background-image: url('https://i.pinimg.com/originals/f4/01/02/f401027ef930e51de3e823582e38c354.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    margin: 15% ;   
  }
  a{
    color: beige;
  }